<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>{{ product.pr_name }}</title>
</head>
<body class="text-bg-dark">
{% csrf_token %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">{{ product.pr_name }}</h2>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-9 col-sm-8 col-lg-6">
        <img src="{{ product.pr_photo.url }}" class="d-block mx-lg-auto img-fluid" alt="{{ product.pr_name }}" width="800" height="1020" loading="lazy" style="filter: invert(0);">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-whitelink bg-dark lh-1 mb-3">Описание:</h1>
        <p class="lead">{{ product.pr_des }}</p>
        <h1 class="display-5 fw-bold text-whitelink bg-dark lh-1 mb-3">Категория:</h1>
        <p class="lead"><a href="/category/{{ product.pr_category.id }}">{{ product.pr_category }}</a></p>
          {% if user.is_authenticated %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <form method="post" action="/add-to-cart/{{ product.id }}">
                    {% csrf_token %}
                    <p><input type="number" min="1" name="user_product_quantity"></p>
                    <p><button type="submit" class="btn btn-primary btn-lg px-4 me-md-1">В корзину</button></p>
                    <p class="lead">Цена: <button type="button" class="btn btn-outline-secondary btn-lg px-4">${{ product.pr_price }}</button></p>
                </form>
            </div>
          {% else %}
          <h1 class="display-5 fw-bold text-whitelink bg-dark lh-1 mb-3">Авторизуйтесь для покупки!</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <p class="lead"><button class="btn btn-success btn-lg px-4"><a href="/accounts/login" class="nav-link active" aria-current="page">
                  <svg class="bi pe-none" width="1" height="1"><use xlink:href="/accounts/login"></use></svg>Войти
              </a>
              </button></p>
              <p class="lead"><button class="btn btn-warning btn-lg px-4"><a href="/register" class="nav-link active" aria-current="page">
                  <svg class="bi pe-none" width="1" height="1"><use xlink:href="/register"></use></svg>Регистрация
              </a>
              </button></p>
              <p class="lead">Цена: <button type="button" class="btn btn-outline-secondary btn-lg px-4">${{ product.pr_price }}</button></p>
            </div>
          {% endif %}
      </div>
    </div>
</div>
</body>
</html>